@keyframes flashIcon {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(1);
	}

	10% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.6);
	}
}

@keyframes pressBtn {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.6);
	}

	100% {
		transform: scale(1);
	}
}

.player_board {
	@include flexCenter;
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	height: 50vmin;
	justify-content: flex-end;
	left: 50%;
	padding: 40px 0 20px;
	position: absolute;
	top: 50%;
	transform-origin: center top;
	transition: opacity 0.1s;
	width: 250px;

	&.hide {
		opacity: 0;
	}

	.card_zone {
		align-items: center;
		display: flex;
		flex: 1 1 200px;
		height: auto;
		justify-content: center;
		max-height: 100%;
		max-width: 100%;
		min-height: 20vmax;
		position: relative;
		transition: opacity 1s;
		width: 100%;
	}

	button {
		@include flexCenter;
		background: transparent none;
		border: 3px solid rgba(#000, 0.8);
		border: 0 none;
		cursor: pointer;
		flex: 0 0 30%;
		height: 80%;

		img {
			height: 5rem;
			transition: filter 0.6s;
			width: 5rem;
		}

		&:active {
			animation: pressBtn 0.6s linear;
		}

		&.toggle_options {
			background: linear-gradient(to bottom, #8F8 0%, #060 100%);
			border-radius: 4px;
			font-family: "Arial Black", Helvetica, sans-serif;
			padding: 6px 14px 5px;
			pointer-events: all;
			transition: filter 0.3s;

			&:hover {
				filter: brightness(1.5);
			}

			&:active {
				animation: pressBtn 0.6s;
				filter: brightness(1.5);
			}

		}
	}

	.options {
		align-items: center;
		display: flex;
		flex: 1 1 auto;
		flex-flow: column nowrap;
		justify-content: center;

		.row {
			align-items: center;
			display: flex;
			flex: 1 1 auto;
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		.score {
			@include flexCenter;
			flex: 1 1 40%;
			font-family: "Arial Black", Helvetica, sans-serif;
			font-size: 8rem;
			font-weight: bold;
			min-width: 100px;
			opacity: 1;
			transition: opacity 1s;

			&.hidden {
				opacity: 0;
			}
		}
	}

	.confirm_score_change {
		height: 100%;
		left: 50%;
		max-height: 100%;
		max-width: 100%;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		user-select: none;
		width: 100%;

		&.hidden {
			display: none;
		}

		img {
			left: 50%;
			max-height: 100%;
			max-width: 100%;
			opacity: 1;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: contain;
		}

		&.plus {
			animation: flashIcon 1s ease-out 0s forwards;

			.minus {
				opacity: 0;
			}
		}

		&.minus {
			animation: flashIcon 1s ease-out 0s forwards;

			.plus {
				opacity: 0;
			}
		}
	}

	button.rotate {
		cursor: e-resize;
		flex: 1 1 auto;
		height: 30px;
		padding: 10px 20px;
		width: auto;

		img {
			height: 100%;
			max-height: 16px;
			width: 100%;
			object-fit: contain;
		}
	}

	.modal {
		@include flexCenter;
		background-color: rgba(#225, 0.8);
		background-position: center;
		flex: 0 0 100vw;
		height: 100vh;
		left: 0;
		max-height: 768px;
		max-width: 1024px;
		pointer-events: none;
		position: fixed;
		top: 0;
		width: 100vw;

		&.active {
			opacity: 1;
			pointer-events: all;
		}
	}
}

#app {
	&.players_2 #hull #cardsBoard {
		.player_board {
			.score {}
		}
	}
}

#app.single_card_mode {
	#the_one {
		opacity: 1;
	}

	.player_board .card_zone {
		opacity: 0;
	}
}